{
  "extends": "google",
  "env": {
    "browser": true
  },
  "rules": {
    "camelcase": 0,
    "default-case": 0,
    "max-len": 0,
    "max-nested-callbacks": 0,
    "no-inline-comments": 0,
    "no-warning-comments": 0,
    "require-jsdoc": 0,
    "valid-jsdoc": 0,
    "no-implicit-coercion": [2, {
      "boolean": false,
      "number": true,
      "string": true
    }],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "after-used",
      "argsIgnorePattern": "^var_args$"
    }],
    "no-negated-condition": 0
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "swal": true,
    "latinize": true,
    "componentHandler": true,
    "friendlyPix": true,
    "page": true,
    "ga": true,
    "firebase": true,
    "gapi": true
  }
}
